.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tg-theme-bg-color);
}

p{
    color: var(--tg-theme-text-color);
}