.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    background: var(--gray-200);
    &.dark__mode{
        background: var(--black);
        .icon{
            filter: var(--filter-white);
        }
    }
    .icon{
        cursor: pointer;
        filter: var(--filter-black);
    }
}
.logo{
    width: 8rem;
}
