.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    &.dark__mode{
        .icon{
            filter: var(--filter-white);
        }
    }
    .icon{
        filter: var(--filter-black);
    }
}
.logo{
    width: 8rem;
}
