.burgerMenu{
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 0%;
    height: 100vh;
    background: var(--white-color);
    z-index: 999;
    transition: width 1s;
    &>* {
        visibility: hidden;
    }
    &.dark__mode{
        background: var(--black);
    }
    &.active{
        width: 100%;
        &>*,
        .nav__items {
            visibility: unset;
        }
    }
}