.burgerMenu{
    overflow: hidden;
    display: none;
    position: absolute;
    right: 0;
    width: 0%;
    height: 100vh;
    background: #fff;
    z-index: 999;
    transition: width 1s;
    &>* {
        visibility: hidden;
    }
    &.active{
        width: 100%;
        &>*,
        .nav__items {
            visibility: unset;
        }
    }
}