body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
}

:root {
  --white: #fff;
  --primary: #EE2A24;
  --secondary: #00f0b5;
  --success: #03cea4;
  --danger: #ff4242;
  --warning: #f89828;
  --info: #5a87fc;
  --gray-900: #1e212c;
  --gray-800: #424551;
  --gray-700: #787a80;
  --gray-600: #9a9ca5;
  --gray-500: #b3b7bc;
  --gray-400: #d7dadd;
  --gray-300: #e5e8ed;
  --gray-200: #f4f5f6;
  --gray-100: #f9f9f9;
  --filter-white: brightness(0) saturate(100%) invert(97%) sepia(33%) saturate(2%) hue-rotate(251deg) brightness(106%) contrast(101%);
  --filter-black: brightness(0) saturate(100%) invert(8%) sepia(0%) saturate(2051%) hue-rotate(169deg) brightness(96%) contrast(102%);
  --filter-primary: brightness(0) saturate(100%) invert(20%) sepia(93%) saturate(3481%) hue-rotate(351deg) brightness(97%) contrast(92%);
}

.container {
  width: 100%;
  padding: 0 1rem;
}

@font-face {
  src: url("@/assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-family: "Montserrat";
  font-weight: 100;
}

@font-face {
  src: url("@/assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-family: "Montserrat";
  font-weight: 300;
}

@font-face {
  src: url("@/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-family: "Montserrat";
  font-weight: 400;
}

@font-face {
  src: url("@/assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-family: "Montserrat";
  font-weight: 600;
}